<table class="table">
  <tr>
    <td>id</td>
    <td>path</td>
    <td>label</td>
    <td>username</td>
    <td>timestamp</td>
  </tr>
  <% @annotations.each do |ann| %>
  <tr>
    <td><%= ann.id %></td>
    <td><%= ann.image.url %></td>
    <td><%= ann.label %></td>
    <td>
      <% if ann.user.nil? %>
        null
      <% else %>
        <%= ann.user.name %>
      <% end %>
    </td>
    <td><%= ann.updated_at %></td>
  </tr>
  <% end %>
</table>
